.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.color {
  
}

.content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.header {
  box-shadow: 0 0 8 black;
  border-right: 1px solid black;
  background: white;
  width: 60px;
  height: 100vh;
}