.error {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #cc0033;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  margin: 2px;
  color: white;
  transition: 1s ease-in all;
  animation-duration: 1s;
  animation-name: anim;
  overflow: hidden;
}

@keyframes anim {
  0% {
    transform: translateY(50vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}