.form {
  width: 420px;
  height: 307px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 20px;
  border-radius: 5px;
  padding: 20px;
  transition: 0.2s ease-out all;
  animation-duration: 1s;
  animation-name: start;
}

.form .title {
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin: 0 40px 40px 40px;
}

.form input {
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 40px;
  height: 30px;
  width: 70%;
  box-shadow: 0 0 7px;
}

.form .controls-wrapper {
  padding: 0 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.form .control {
  color: white;
  font-weight: bold;
  font-size: 15px;
  height: 35px;
  width: 120px;
  background-color: blueviolet;
  border: none;
  border-radius: 20px;
  box-shadow: 0 7px 20px blueviolet;
}

.form .control:focus, .form input:focus {
  outline: none;
}

.form .control:hover {
  transform: scale(1.1);
}

@keyframes start {
  0% {
    transform: translateY(-10vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}