.navigation-item {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-out all;
  cursor: pointer;
}

.navigation-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 100%;
  width: 100%;
}

.active {
  border-right: 3px solid purple;
}

.navigation-item .icon {
  height: 50%;
  width: 80%;
}

.navigation-item a:hover {
  border-right: 3px solid purple;
}

.icon {
  width: 40px;
}