.welcome-scene {
  font-family: 'Anton', sans-serif;
  margin-top: calc(50vh - 200px);
  margin-left: calc(50vw - 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 50%;
}

.title {
  letter-spacing: 5px;
  width: 100%;
  font-size: 50px;
  text-transform: uppercase;
  color: rgba(115, 138, 138, 0.6);
  text-align: center;
}

.input {
  width: 65%;
}

.input input::placeholder {
  width: 100%;
  text-align: center;
  font-weight: normal;
  letter-spacing: 2px;
  font-family: 'Anton', sans-serif;
}

.button {
  margin-top: 20px;
}