.chat-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat {
  width: 60%;
  margin: 0 auto;
  display: flex;
  box-shadow: 0 0 10px;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 20px 0;
}

.controls input {
  padding: 0 10px;
  border: none;
  box-shadow: inset 0 0 7px;
  border-radius: 10px;
  height: 30px;
  width: 70%;
}

.controls input:focus {
  outline: none;
}

.controls button {
  border: none;
  width: 60px;
  height: 30px;
  background-color: white;
}

.controls button:hover {
  transform: scale(1.2);
}

.controls button img {
  height: 100%;
}



