.message {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.from {
  margin: 0;
  color: blueviolet;
}

.text {
  margin: 0;
}