.list {
  display: flex;
  flex-direction: column;
  width: 60px;
  background-color: white;
  border-right: 1px solid black;
  box-shadow: 0 0 7px black;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}