.messages-list {
  position: relative;
  min-height: 60vh;
  width: 100%;
  box-shadow: inset 0 0 10px;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.typing {
  position: absolute;
  bottom: 0;
  left: 20px;
  margin: 1px;
}

.typing-nickname {
  color: blueviolet;
}